* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f4f4;
  color: #333;
  /* font-family: Arial, sans-serif; */
}

header {
  background-color: #4d9a9a;
  padding: 10px 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  /* font-family: "Dancing Script", "Great Vibes", "cursive"; */
  font-family: fantasy;
  color: #001f54;
  text-decoration: none;
}

.nav-links {
  display: flex;
  gap: 20px;
}

nav a {
  color: #003366;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  padding: 5px;
  transition: background 0.3s;
}

nav a:hover {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}

.ham {
  display: none;
}

main {
  padding: 40px 20px;
  display: flex;
  justify-content: center;
  max-width: 1000px;
  margin: auto;
}

.content {
  width: 80%;
  text-align: center;
}

.left {
  flex-basis: 100%;
}

h1 {
  font-size: 36px;
  color: #001f54;
}

p {
  line-height: 1.6;
  color: #555;
  margin-bottom: 30px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

th,
td {
  padding: 12px;
  text-align: center;
  border: 1px solid #ddd;
}

th {
  background-color: #4d9a9a;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #e1e1e1;
}

footer {
  background-color: #4d9a9a;
  color: #002a4b;
  text-align: center;
  font-size: 14px;
  padding: 1px;
  /* position: relative; */
  /* width: 100%;
  bottom: 0; */
}

.nav-links.active {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  right: 20px;
  top: 60px; /* Adjust based on header size */
  background-color: #4d9a9a;
  width: 200px;
  padding: 10px;
  border-radius: 4px;
}

@media (max-width: 768px) {
  .ham {
    display: block; /* Show hamburger icon on mobile */
    cursor: pointer;
  }

  .nav-links {
    display: none; /* Hide nav links by default on mobile */
    position: absolute; /* Positioning for dropdown */
    top: 60px; /* Adjust based on header size */
    right: 0; /* Align to the right */
    width: 250px; /* Make the menu narrower */
    background-color: #4d9a9a; /* Match nav background */
    z-index: 1; /* Ensure it's on top */
    gap: 20px;
    flex-direction: column;
  }

  /* When active, show the nav links */
  .nav-links .active {
    display: flex;
    align-items: flex-end; /* Align the links to the left */
  }

  nav a {
    color: #003366;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    padding: 10px;
    width: 100%; /* Make links fill the width of the menu */
    text-align: center;
    border-bottom: 1px solid #fff; /* Add a separator between links */
  }

  nav a:hover {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
  }
}
